{% extends 'base.html' %}
{% block container %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
{% load fontawesome_5 %}
<head>
    {% load static %}
    {% fontawesome_5_static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to left, #76C794, #80DE78, #BED64F)
        }

        .main {
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded main" style="max-width: 80%;">
        <div class="row no-gutters">
            <div class="col-md-8" >
              <img src="{% static 'readingPeople.jpg' %}" class="card-img" alt="...">
            </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Login B.B.B</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <form method="POST" action= "{%url 'login'%}">
                {% csrf_token%}
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="Enter your username">
                </div>
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Enter your Password">
                </div>
    
                <a href="{%url 'signup' %}" style="float: right; width: 90%; text-align: right; margin-bottom: 30px;" > 계정이 없으신가요?</a>
    
                <div class="form-group">
                    <input type = "submit"  value = "login" class="btn btn-danger btn-lg btn-block login-button">
                    <!-- <a href="#" type="button"  class="btn btn-danger btn-lg btn-block login-button">login</a> -->
                    <!-- <input type="button" value="회원가입" onclick="location.href = '{%url 'signup' %}';" class="btn btn-danger btn-lg btn-block login-button">             -->
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>

</body>
</html>


{% endblock %}