{% extends 'base.html' %}

{% block container %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{record.publisher}} - {{record.record_title}} </title>

    <style>
        .card {
            width: 85%;
            text-align: center;
            margin: 5% auto;
        }

        #imagebox {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}

    <div class="card">
        <div class="card-body">
            <!-- 이미지를 수직으로 -->
                <div id="imagebox" class="col-md-4 shadow" style="display: inline; max-width: 100px; max-height: 200px;">
                    {% if record.rep_img %}
                    <img class="rep-img" src="{{ record.rep_img.url }}" style="max-width: 100px; max-height: 200px; margin-bottom: 10px;">
                    {% endif %}
                </div>
                <h4 class="card-title">{{record.title}}</h4>
                <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">저자: {{record.author}} &nbsp
                    분류: {{record.category}}</h5>
                <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">기록자: {{record.publisher}}
                    &nbsp 독서일: {{record.read_at}}</h5>

            <!-- 이미지를 나란히 -->
            <!-- <div class="row no-gutters" style="width: 100%;">
                <div id="imagebox" class="col-md-4 shadow" style="display: inline; max-width: 100px; max-height: 200px;">
                    {% if record.rep_img %}
                    <img class="rep-img" src="{{ record.rep_img.url }}" style="max-width: 100px; max-height: 200px;">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <h4 class="card-title">{{record.title}}</h4>
                    <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">저자: {{record.author}} &nbsp
                        분류: {{record.category}}</h5>
                    <h5 class="card-subtitle mb-2 text-muted" style="text-align: center;">기록자: {{record.publisher}}
                        &nbsp 독서일: {{record.read_at}}</h5>
                </div>
            </div> -->
            <hr>
            <p class="card-text" style="text-align: right;">생성일 : {{record.created_at}} &nbsp 수정일 :
                {{record.updated_at}}</p>
            <p class="card-text" style="text-align: left;">{{record.record_body|linebreaksbr}}</p>

            <div class="buttonGroup" style="text-align: right;">
                <button type="button" class="btn btn-secondary"><a href="{%url 'record_edit' record.id %}">글수정</a></button>
                <button type="button" class="btn btn-warning"><a href="{%url 'record_delete' record.id %}">글삭제</a></button>
            </div>
        </div>
    </div>
    {%include 'footer.html'%}
</body>

</html>

{% endblock %}