{% extends 'base.html' %}
{% load bootstrap4 %}

{% block container %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 독서 기록 작성하기</title>
    <style>
        .card {
            width: 85%;
            text-align: center;
            margin: 5% auto;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    {% load octicons %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">새로운 독서 기록 작성하기</h4>
            <hr>
            <form action="{%url 'record_new'%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="text-align: left;">
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "book" %} 책 제목 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" style="width: 400px;">
                        </div>
                    </div>
                
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "person" %} 저자 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="author" style="width: 400px;">
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "file-media" %} 표지 </label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="rep_img">
                        </div>
                    </div>
                
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "pencil" %} 독서 기록 제목 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="record_title"style="width: 400px;">
                        </div>
                    </div>
                
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "watch" %} 기록 일자 </label>
                        <div class="col-sm-10">
                            {{form.read_at}}
                        </div>
                    </div>
                
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "three-bars" %} 책 카테고리 </label>
                        <div class="col-sm-10">
                            <select class="custom-select" name="category" style="width: 400px;">
                                <option value="{{form.category}}"></option>
                                <!-- 놀라운 곳 -->
                            </select>
                        </div>
                    </div>
                
                    <div class="form-group mb-2">
                        <label for="inputField" class="col-sm-2 col-form-label"> {% octicon "file" %} 독서 기록 내용 </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="10" name="record_body"></textarea>
                        </div>
                    </div>
                
                    <br>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">수정</button>
                </div>
            </form>
        </div>
    </div>


    {%include 'footer.html'%}
</body>
</html>

{% endblock %}