{% extends 'base.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>record-list</title>
    <style>
        .record-list {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .record-list a {
            width: 100%;
        }

        .rep-img {
            max-width: 100%;
        }

        .pagination_wrapper {
            text-align: center;
        }

        .pagination_wrapper ul {
            display: inline-block;
        }

        .pagination_wrapper li {
            display: inline-block;
        }
    </style>

    <script>
        function redirectRecord(record_id) {
            window.location.href = "/records/" + record_id;
        }

        function mouseover(obj) {
            obj.className = "card col-md-12 flex-md-row mb-3 shadow-lg";
        }

        function mouseout(obj) {
            obj.className = "card col-md-12 flex-md-row mb-3 shadow-sm";
        }
    </script>
</head>

<body>
    {% include 'nav.html' %}

    {% include 'alert.html' %}
    
    <div class="container">
        <div class="row">
            {%for record in records_page %}
            <div class="card col-md-12 flex-md-row mb-3 shadow-sm " style="margin: 7px;" onmouseover="mouseover(this)"
                onmouseout="mouseout(this)">
                <div class="card-body d-flex flex-column align-items-start" onclick="redirectRecord({{record.id}})">
                    <div class="row no-gutters" style="width: 100%;">
                        <div class="col-md-4 shadow"
                            style="display: inline; max-width: 100px; height: fit-content; margin-right: 10px;">
                            {% if record.rep_img %}
                            <img class="rep-img" src="{{ record.rep_img.url }}">
                            {% else %}
                            <svg class="bi bi-book" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                            </svg>
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <strong class=" text-primary">{{record.title}}</strong>
                            <h6 class="text-dark">{{record.record_title}}</h6>
                            <h6 class="text-dark">{{record.author}}</h6>
                            <p class="card-text mb-auto">{{record.summary}}</p>
                            <a href="{%url 'user' %}?username={{record.publisher}}"
                            class="card-link">{{record.publisher}}</a>
                            <p class="card-text" style="margin-bottom: 0.5em;">{{record.read_at}}</p>
                            <img src = "https://img.shields.io/badge/category-{{record.category}}-green"></img>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <hr>
        <nav aria-label="...">
            <div class="pagination_wrapper" style="text-align: center;">
                <ul class="pagination">
                    {% if records_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{records_page.previous_page_number}}" tabindex="-1"
                            aria-disabled="false">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% endif %}
                    {% for i in range %}
                    {% if i == records_page.number  %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{i}}"> {{i}} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if records_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{records_page.next_page_number}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

    </div>

    {%include 'footer.html'%}
</body>

</html>

{% endblock %}