{% extends 'base.html' %}
{% load bootstrap4 %}

{% block container %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>record-list</title>
    {% fontawesome_5_static %}
    <style>
        .record-list {
            width : 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .record-list a {
            width: 100%;
        }
        .rep-img {
            max-width: 100%;
        }
    </style>

    <script>
        function redirectRecord(record_id) {
            window.location.href = "/records/"+record_id;
        }

        function mouseover(obj) {
            obj.className= "card col-md-11 flex-md-row mb-3 shadow-lg";
        }

        function mouseout(obj) {
            obj.className = "card col-md-11 flex-md-row mb-3 shadow-sm";
        }
    </script>
</head>

<body>
    {% include 'nav.html' %}
    <!-- <a href="{%url 'record_new'%}">새로운 글 작성</a> <br>
    <a href="{%url 'logout'%}">로그아웃</a> <br> -->
    <!-- <div class="record-list">

        {%for record in records %}
        <a href="{%url 'record_detail' record.id%}">
            <div class="card" style="width: 100%; margin-top: 2em;">
                <div class="card-body">
                  <h5 class="card-title">{{record.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{record.record_title}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{record.author}}</h6>
                  <p class="card-text">{{record.summary}}</p>

                  <a href="#" class="card-link">{{record.publisher}}</a>
                  <span class = "card-text">{{record.read_at}}</span>
                </div>
              </div>
        </a>
        {%endfor%}
    </div> -->


    <div class="container">
        <div class="row">
            {%for record in records %}
                <div class="card col-md-11 flex-md-row mb-3 shadow-sm " style="max-width: 1000px; margin: 7px;"  onmouseover="mouseover(this)" onmouseout="mouseout(this)">
                    <div class="card-body d-flex flex-column align-items-start" onclick="redirectRecord({{record.id}})">
                        <div class="row no-gutters">
                            <div class="col-md-4 shadow" style="display: inline; max-width: 100px; max-height: 200px;margin-right: 10px;">
                            {% if record.rep_img %}
                                <img class="rep-img" src="{{ record.rep_img.url }}">
                            {% endif %}
                            </div>
                            <div class="col-md-7" >
                                <strong class=" text-primary">{{record.title}}</strong>
                                <h6 class="text-dark">{{record.record_title}}</h6>
                                <h6 class="text-dark">{{record.author}}</h6>
                                <p class="card-text mb-auto">{{record.summary}}</p>
                                <a href="{%url 'user' %}?username={{record.publisher}}" class="card-link">{{record.publisher}}</a>
                                <span class="card-text">{{record.read_at}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
        </div>
        </div>

    {%include 'footer.html'%}
</body>
</html>

{% endblock %}