{% extends 'base.html' %}
{% load bootstrap4 %}

{% block container %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.B.B. Search</title>
</head>

<body>
    {% include 'nav.html' %}
    
    <div class="container" style="margin: auto;">
        <div>

            <form class="form-inline my-2 my-lg-0" action="/search" style="margin-left: 15%; padding: 1rem;">
                {% csrf_token %}
                <input id="searchbar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{q}}" style="width: 70%;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="검색">Search</button>
            </form>

            <hr>

            <div class="search_result">
                {% if object_list%}
                    {% for post in object_list %}
                        <div class="card" style="width: 100%; margin-top: 2em;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'record_detail' post.id %}">{{ post.title }}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{post.record_title}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{post.author}}</h6>
                                <p class="card-text">{{post.summary}}</p>
                                <a href="#" class="card-link">{{post.publisher}}</a>
                                <span class = "card-text">{{post.read_at}}</span>
                            </div>
                        </div>
                    {% endfor %}

                {% elif q %}
                    "{{ q }}"는 검색 결과가 없습니다!

                {% elif q == "" %}
                    검색어를 입력하세요!

                {% endif %}
            </div>
        </div>
</body>

</html>

{% endblock %}