{% extends 'base.html' %}
{% load bootstrap4 %}

{% block container %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.B.B. Search</title>

    <style>
        .container {
            margin-top: 1rem;
            margin-left: 1rem;
        }

        #searchbar {
            width: 70%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'record_list' %}">B.B.B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"> 회원가입 </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"> 로그인 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"> 로그아웃 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'record_new'%}"> 글쓰기 </a>
                </li>
            </ul>
            <i class="fas fa-user-circle" style="margin-right: 1em; font-size: 1.7em; color: #72c02c;" ></i>
        </div>
    </nav>

    <div class="container">
        <div>

            <form class="form-inline my-2 my-lg-0" action="/search">
                {% csrf_token %}
                <input id="searchbar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                    name="q" value="{{q}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="검색">Search</button>
            </form>

            <hr>

            <div class="search_result">
                {% if object_list%}
                {% for post in object_list %}
                    <div class="card" style="width: 100%; margin-top: 2em;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'record_detail' post.id %}">{{ post.title }}</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{post.record_title}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{post.author}}</h6>
                            <p class="card-text">{{post.summary}}</p>
          
                            <a href="#" class="card-link">{{post.publisher}}</a>
                            <span class = "card-text">{{post.read_at}}</span>
                        </div>
                    </div>
                
                {% endfor %}

                {% elif q %}
                "{{ q }}"는 검색 결과가 없습니다!

                {% elif q == "" %}
                검색어를 입력하세요!

                {% endif %}
            </div>
        </div>
</body>

</html>

{% endblock %}